#wrapper .navbar{
    margin-bottom: 0;
    background: #002347;   
}

.navbar-header .navbar-brand{
    background: #002347; 
    font-family:harrington; 
    color: white; 
    font-size: 40px; 
}

#logout a{
    color: white;
    float: right;
    font-size: 16px; 
} 







